<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Sports_Facility.Properties.Settings.modelConnectionString" connectionString="Data Source=(local);Initial Catalog=model;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="modelEntities" connectionString="metadata=res://*/Sportfacility.csdl|res://*/Sportfacility.ssdl|res://*/Sportfacility.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=model;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="modelEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=model;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="modelEntities2" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=model;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<!--<startup>
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
</startup></configuration>
